.keys
{
    background-color: black;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}


.calculator
{
    width: 100px;
    background-color: rgb(128, 55, 55);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}