*
    {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    
    }

body
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        min-height: 100vh;
        padding: 20px;
    }

.container
    {
        max-width: 600px;
        margin: 50px, auto;
        background: white;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        
    }

.title
    {
        color: #333;
        margin-bottom: 30px;
        text-align: center;
    }

#task-form
    {
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
    }

#task-input
    {
        flex: 1;
        padding: 12px;
        border: 2px solid #e0e0e0;
        font-size: 16px;
    }

#task-input:focus
    {
        outline: none;
        border-color:#b88ce4;
    }

button
    {
        padding: 12px 24px;
        background: #667eea;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s;
    }

button:hover   
    {
        background: #555685;
    }

#task-list
    {
        list-style: none;
    }

.task-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #f8f9fa;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transfrom 0.2s;
}

.task-item:hover
{
    transform: translateX(5px);
}

.task-text
{
    flex: 1;
    color: #333;
}

.delete-btn
{
    background-color: #e74c3c;
    padding: 8px 16px;
    font-size: 14px;
}

.delete-btn:hover
{
    background-color: #a91100;
}